<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/css.css">
    <!This css is a temp until SCSS becomes my knowledge>
</head>
<body>
<img src ="../images/mars_full.jpg" class="mars" width="1000">
<h1>ALIEN LIFE</h1>
<h2>IN OUR SOLAR SYSTEM</h2>
<p class = "intro">For almost as long as human beings have understood that the points of light circling the dome of the sky were other worlds and suns, we have speculated about life existing beyond the bounds of earth. When our understanding of the cosmos was tentative and fearful, such speculation was considered bizarre, even heretical: Giordano Bruno, one of the first to make a formal claim of a “plurality of worlds”, was burnt at the stake in 1600.</p>

</body>
</html>